<a href="https://colab.research.google.com/github/RomuloRangel/projeto2023_02/blob/main/Projeto2023_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Agrupamento para definir quais os locais e horarios Que mais ocorreram os tiroteios

Link do datset : https://catalog.data.gov/dataset/nypd-shooting-incident-data-historic

# Importando as bibliotecas necessarias

In [1]:
import pandas as pd
import numpy as np

In [6]:
#Definirei uma importação via URL
url = (' https://data.cityofnewyork.us/api/views/833y-fsy8/rows.csv?accessType=DOWNLOAD')
df = pd.read_csv(url)

In [9]:
df.head(10)

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,228798151,05/27/2021,21:30:00,QUEENS,NaN,105,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.058925e+06,180924.000000,40.662965,-73.730839,POINT (-73.73083868899994 40.662964620000025)
1,137471050,06/27/2014,17:40:00,BRONX,NaN,40,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.005028e+06,234516.000000,40.810352,-73.924942,POINT (-73.92494232599995 40.81035186300006)
2,147998800,11/21/2015,03:56:00,QUEENS,NaN,108,0.0,NaN,NaN,True,...,NaN,NaN,25-44,M,WHITE,1.007668e+06,209836.531250,40.742607,-73.915492,POINT (-73.91549174199997 40.74260663300004)
3,146837977,10/09/2015,18:30:00,BRONX,NaN,44,0.0,NaN,NaN,False,...,NaN,NaN,<18,M,WHITE HISPANIC,1.006537e+06,244511.140625,40.837782,-73.919457,POINT (-73.91945661499994 40.83778200300003)
4,58921844,02/19/2009,22:58:00,BRONX,NaN,47,0.0,NaN,NaN,True,...,M,BLACK,45-64,M,BLACK,1.024922e+06,262189.406250,40.886238,-73.852910,POINT (-73.85290950899997 40.88623791800006)
5,219559682,10/21/2020,21:36:00,BROOKLYN,NaN,81,0.0,NaN,NaN,True,...,NaN,NaN,25-44,M,BLACK,1.004234e+06,186461.703125,40.678457,-73.927952,POINT (-73.92795224099996 40.678456718000064)
6,85295722,06/17/2012,22:47:00,QUEENS,NaN,114,0.0,NaN,NaN,False,...,NaN,NaN,25-44,M,BLACK,9.988600e+05,214885.000000,40.756482,-73.947266,POINT (-73.94726649399996 40.75648234300007)
7,71662474,03/08/2010,19:41:00,BROOKLYN,NaN,81,0.0,NaN,NaN,True,...,NaN,NaN,18-24,M,BLACK,1.002883e+06,192219.703125,40.694264,-73.932809,POINT (-73.93280863699994 40.694264056000065)
8,83002139,02/05/2012,05:45:00,QUEENS,NaN,105,0.0,NaN,NaN,False,...,NaN,NaN,25-44,M,BLACK,1.054366e+06,196628.406250,40.706107,-73.747107,POINT (-73.74710653899996 40.706106731000034)
9,86437261,08/26/2012,01:10:00,QUEENS,NaN,101,0.0,NaN,MULTI DWELL - APT BUILD,False,...,M,BLACK,25-44,M,BLACK,1.053937e+06,157130.421875,40.597697,-73.749065,POINT (-73.74906464199995 40.59769719800005)